/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body {
    margin: 0;
    padding: 0;
   
}
.header {
    display: flex;
    background-color: #2D25A0;
    align-items: center;
    padding: 30px 0;
}
.title-area {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    width: 50%;
    margin-left: 50px;
    font-style: normal;
    font-weight: bold;
    line-height: 80px;
}
.title-area button {
    font-family: Poppins;
    border-radius: 10px;
    padding: 10px 20px;
    align-items: center;
    font-size:  16px;
    background-color: aquamarine;
    margin-bottom: 20px;
}
.image-area {
    width: 50%;
}
.image-area img {
    height: 438px;
    width: 557px;
}



/* top players style */
.top-players {

}
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin-right: 10px;
    width: 330px;
    height: 474px;

}
.player {
   
    align-items: center;
}
 .player img {
    width: 300px;
    height: 256;
} 
